In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import json

import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

from sklearn.feature_extraction.text import CountVectorizer

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_excel("/home/peterchen/Model/Data_Science_Projects/FINQA Project - A Dataset of Numerical Reasoning over Financial Data/DataFrame.xlsx", index_col=0)
df.shape

(8281, 25)

In [49]:
# df.iloc[:, 15:25].head(1)

In [50]:
df.columns

Index(['pre_text', 'post_text', 'table_ori', 'table', 'qa', 'table_retrieved',
       'text_retrieved', 'table_retrieved_all', 'text_retrieved_all',
       'Company Name', 'Year of Publication', 'Page_Number', 'Operations',
       'Number of Operations', 'Supporting Facts', 'Number of Facts',
       'Rows from Text or Table', 'Text or Table', 'Model Input',
       'Number of Model Inputs', 'Top-N Facts', 'Number of Top-N Facts',
       'Question', 'Explanations', 'Answer'],
      dtype='object')

In [5]:
# Dropping the Unnecessary Columns

df = df.drop(columns =['table_retrieved', 'text_retrieved' , 'table_retrieved_all' , 'text_retrieved_all' , 
                       'Rows from Text or Table' , 'Model Input' , 'Top-N Facts' , 'Supporting Facts' , 'table_ori'])
df.shape

(8281, 16)

In [6]:
dh = pd.read_excel("/home/peterchen/Model/Data_Science_Projects/FINQA Project - A Dataset of Numerical Reasoning over Financial Data/PrePost_Column_Data.xlsx", index_col=0)
dh.head(1)

,pre_text,post_text
0,['interest rate to a variable interest rate ba...,['fair value of forward exchange contracts aft...

In [8]:
def preprocess(raw_text):
    # Removing special characters and digits
    sentence = re.sub("[^a-zA-Z0-9]", " ", str(raw_text))
    
    # change sentence to lower case
    sentence = sentence.lower()

    # tokenize into words
    tokens = sentence.split()
    return pd.Series([" ".join(tokens)])

In [9]:
dh['Pre_Text'] = dh['pre_text'].apply(lambda x: preprocess(x))
dh['Post_Text'] = dh['post_text'].apply(lambda x: preprocess(x))

In [10]:
dh = dh.drop(columns =['pre_text', 'post_text'])
# dh.head()

In [11]:
result = pd.concat([dh, df], axis=1)
result = result.drop(columns =['pre_text', 'post_text'])
result['Financial Context'] = result['Pre_Text'] + result['table'] + result['Post_Text']
# result.head()

In [3]:
# result.head(2)

In [58]:
result.shape

(8281, 17)

In [59]:
result = result.fillna(0)

In [60]:
# result.to_excel("Result.xlsx")

In [12]:
df_train = result.iloc[:6251]
# df_train.head()

In [13]:
df_test = result.iloc[6251:7398]
# df_test.head()

In [14]:
df_dev = result.iloc[7398:]
# df_dev.head()

In [15]:
def inputOutputSplit(df):
    Y = df["Answer"]
    X = df.drop(['Answer'], axis=1)
    return X,Y

In [16]:
X_train,Y_train = inputOutputSplit(df_train)

In [17]:
X_test,Y_test = inputOutputSplit(df_test)

In [18]:
X_dev,Y_dev = inputOutputSplit(df_dev)

# ChatGPT answer for df_train

In [82]:
def get_gpt_answer(fin_context, question):
    CONTENT = f"""Based on the provided Context, answer the Financial Question mentioned below. Generate only the numerical answer or percentage without any explanation.
    
    Context: {fin_context}
    Question: {question}
    
    Answer:
    """
    response = openai.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "user", "content": CONTENT},
    ],
    temperature=0.6,
    )

    return response.choices[0].message.content.strip()
    

df_train['Generated Answer'] = df_train.apply(lambda x: get_gpt_answer(x["Financial Context"], x['Question']), axis=1)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/peterchen/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3508, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_106892/1823884746.py", line 20, in <module>
    df_train['Generated Answer'] = df_train.apply(lambda x: get_gpt_answer(x["Financial Context"], x['Question']), axis=1)
  File "/home/peterchen/.local/lib/python3.8/site-packages/pandas/core/frame.py", line 7768, in apply
    return op.get_result()
  File "/home/peterchen/.local/lib/python3.8/site-packages/pandas/core/apply.py", line 185, in get_result
    return self.apply_standard()
  File "/home/peterchen/.local/lib/python3.8/site-packages/pandas/core/apply.py", line 276, in apply_standard
    results, res_index = self.apply_series_generator()
  File "/home/peterchen/.local/lib/python3.8/site-packages/pandas/core/apply.py", line 290, in apply_series_generator
    results[i] = self.f(v)
  File "/tmp/ipykernel_106892/1823884746.py", line 20, in <lambda>
    df_train['Generated Answer'] = df_train.apply(lambda x: get_gpt_answer(x["Financial Context"], x['Question']), axis=1)
  File "/tmp/ipykernel_106892/1823884746.py", line 9, in get_gpt_answer
    response = openai.chat.completions.create(
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/openai/_utils/_utils.py", line 277, in wrapper
    return func(*args, **kwargs)
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/openai/resources/chat/completions.py", line 606, in create
    options=make_request_options(
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/openai/_base_client.py", line 1240, in post
    return cast(ResponseT, self.request(cast_to, opts, stream=stream, stream_cls=stream_cls))
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/openai/_base_client.py", line 921, in request
    return self._request(
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/openai/_base_client.py", line 952, in _request
    response = self._client.send(
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpx/_client.py", line 914, in send
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpx/_client.py", line 942, in _send_handling_auth
    while True:
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpx/_client.py", line 979, in _send_handling_redirects
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpx/_client.py", line 1015, in _send_single_request
    with request_context(request=request):
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpx/_transports/default.py", line 233, in handle_request
    assert isinstance(resp.stream, typing.Iterable)
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpcore/_sync/connection_pool.py", line 216, in handle_request
    "Request URL is missing an 'http://' or 'https://' protocol."
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpcore/_sync/connection_pool.py", line 196, in handle_request
    self._pool.pop(idx)
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpcore/_sync/connection.py", line 101, in handle_request
    raise ConnectionNotAvailable()
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpcore/_sync/http11.py", line 143, in handle_request
    method=request.method,
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpcore/_sync/http11.py", line 113, in handle_request
    http_version,
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpcore/_sync/http11.py", line 186, in _receive_response_headers
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpcore/_sync/http11.py", line 224, in _receive_event
    if data == b"" and self._h11_state.their_state == h11.SEND_RESPONSE:
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages/httpcore/_backends/sync.py", line 126, in read
    return self._sock.recv(max_bytes)
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/ssl.py", line 1226, in recv
    return self.read(buflen)
  File "/home/peterchen/miniconda3/envs/learnpython/lib/python3.8/ssl.py", line 1101, in read
    return self._sslobj.read(len)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/peterchen/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2105, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/peterchen/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1396, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/peterchen/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1287, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/peterchen/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1140, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/home/peterchen/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1055, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "/home/peterchen/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 955, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "/home/peterchen/.local/lib/python3.8/site-packages/IPython/core/ultratb.py", line 778, in lines
    return self._sd.lines
  File "/home/peterchen/.local/lib/python3.8/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/home/peterchen/.local/lib/python3.8/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/home/peterchen/.local/lib/python3.8/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/home/peterchen/.local/lib/python3.8/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/home/peterchen/.local/lib/python3.8/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/home/peterchen/.local/lib/python3.8/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/home/peterchen/.local/lib/python3.8/site-packages/executing/executing.py", line 116, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

**(A) ChatGPT Models:**

In [69]:
!pip install -q openai
!pip install openai

Requirement already satisfied: openai in /net/ilabnas2/ilabhome/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages (0.28.0)
Requirement already satisfied: requests>=2.20 in /net/ilabnas2/ilabhome/peterchen/.local/lib/python3.8/site-packages (from openai) (2.31.0)
Requirement already satisfied: tqdm in /net/ilabnas2/ilabhome/peterchen/.local/lib/python3.8/site-packages (from openai) (4.66.1)
Requirement already satisfied: aiohttp in /net/ilabnas2/ilabhome/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages (from openai) (3.9.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /net/ilabnas2/ilabhome/peterchen/.local/lib/python3.8/site-packages (from requests>=2.20->openai) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /net/ilabnas2/ilabhome/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /net/ilabnas2/ilabhome/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages (from requests>=2.20->openai) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /net/ilabnas2/ilabhome/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages (from requests>=2.20->openai) (2023.11.17)
Requirement already satisfied: aiosignal>=1.1.2 in /net/ilabnas2/ilabhome/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages (from aiohttp->openai) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /net/ilabnas2/ilabhome/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /net/ilabnas2/ilabhome/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages (from aiohttp->openai) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /net/ilabnas2/ilabhome/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages (from aiohttp->openai) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /net/ilabnas2/ilabhome/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages (from aiohttp->openai) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /net/ilabnas2/ilabhome/peterchen/miniconda3/envs/learnpython/lib/python3.8/site-packages (from aiohttp->openai) (4.0.3)

In [1]:
import openai

In [28]:
context = df_train['Financial Context'][0]
question = df_train['Question'][0]
answer = df_train['Answer'][0]

In [29]:
answer

'380'

In [30]:
# Prompt 只有答案
CONTENT = f"""Based on the provided Context, consisting of the Pre-Text, Tabular Data, and the Post-Text Data, answer the 
Financial Question mentioned below. Use the given operations for computations as needed:

- For Unstructured Text Data: Add, Subtract, Multiply, Divide, Greater, Exponential (maximum 6 operations).
- For Structured Tabular Data: Table Maximum, Table Minimum, Table Sum, Table Average (maximum 4 operations).

Generate only the numerical answer. Do not include any explanation or steps.

Note: Carefully interpret numbers in the Structured Tabular Data, especially differentiating between decimal points (".") and commas (","). For example: 7,832 should be considered as 7832, not 7.832.

Context: {context}
Question: {question}

Answer:
"""

response_0 = openai.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "user", "content": CONTENT},
    ],
    temperature=0.5,
    # length_penalty=2,
    max_tokens=150
)

print(answer)
print(response_0.choices[0].message.content)

380
3.8 million

In [62]:
# Prompt 除了答案还有推理过程
CONTENT = f"""Based on the Context provided, consisting of the Pre-Text , Tabular Data , and the Post-Text Data, answer the 
Financial Question mentioned below. Since calculating Financial Answers involve Numerical Computations, there are a maximum of 
6 Mathematical Operations that should be used : Add , Subtract , Multiply , Divide , Greater , Exponential. And a maximum of 4 
Table Aggregation Operations that should be used : Table Maximum , Table Minimum , Table Sum , Table Average.
The 6 Mathematical Operations are for the Unstructured Text Data , and the 4 Table Aggregation Operations are for the Structured
Tabular Data.

Also, along with answering the Financial Question mentioned, provide a complete 
Explanation to understand how to reach at this Solution of the Financial Question generated. Means that in First Line, generate 
only the numerical answer, and then in the next line, generate the explanation.

Note: While generating answers, look carefully at the numbers which are present in the Structured Tabular Data, and do not get
confused between the symbols like decimal(".") and comma(","). For example: 7,832 should be considered as 7832 and not 7.832.
Be strict on noticing whether any number has decimal or comma, as it could change the answer a lot. 

Context : {context}
Question: {question}
 
Answer :
Explanation : 

"""
 
response_0 = openai.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "user", "content": CONTENT},
    ],
    temperature=0.6,
)

print(response_0.choices[0].message.content)

3.8 million

The interest expense in 2009 is mentioned as 3.8 million in the context provided. This expense would change if the LIBOR (London Interbank Offered Rate) changes by 100 basis points.

In [63]:
context = df_train['Financial Context'][2]

In [64]:
question = df_train['Question'][2]
question

'what was the total operating expenses in 2018 in millions'

In [65]:
CONTENT = f"""Based on the Context provided, consisting of the Pre-Text , Tabular Data , and the Post-Text Data, answer the 
Financial Question mentioned below. Since calculating Financial Answers involve Numerical Computations, there are a maximum of 
6 Mathematical Operations that should be used : Add , Subtract , Multiply , Divide , Greater , Exponential. And a maximum of 4 
Table Aggregation Operations that should be used : Table Maximum , Table Minimum , Table Sum , Table Average.
The 6 Mathematical Operations are for the Unstructured Text Data , and the 4 Table Aggregation Operations are for the Structured
Tabular Data.

Also, along with answering the Financial Question mentioned, provide a complete 
Explanation to understand how to reach at this Solution of the Financial Question generated. Means that in First Line, generate 
only the numerical answer, and then in the next line, generate the explanation.

Note: While generating answers, look carefully at the numbers which are present in the Structured Tabular Data, and do not get
confused between the symbols like decimal(".") and comma(","). For example: 7,832 should be considered as 7832 and not 7.832.
Be strict on noticing whether any number has decimal or comma, as it could change the answer a lot. 

Context : {context}
Question: {question}
 
Answer :
Explanation : 

"""
 
response_2 = openai.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "user", "content": CONTENT},
    ],
    temperature=0.3,
    length_penalty=1.2
)

print(response_2.choices[0].message.content)

$41.93 million
To calculate the total operating expenses in 2018, we need to use the table data provided. From the table, we see that the aircraft fuel expense for 2018 was $9896 million. Since the aircraft fuel expense was 23.6% of the total operating expenses, we can set up the equation: $9896 million = 23.6% of total operating expenses. Solving for the total operating expenses gives us $41.93 million. Therefore, the total operating expenses in 2018 were $41.93 million.

In [78]:
context = df_train['Financial Context'][1200]
question = df_train['Question'][1200]
answer = df_train['Answer'][1200]
print(context)
print(question)
print(answer)
CONTENT = f"""
You are a financial analysis assistant. Based on the provided Context, accurately answer the financial question mentioned below. Use the following operations for computations as needed:

For Unstructured Text Data, you can use the following mathematical operations: Add, Subtract, Multiply, Divide, Greater, Exponential (maximum 6 operations).
For Structured Tabular Data, you can use the following table aggregation operations: Table Maximum, Table Minimum, Table Sum, Table Average (maximum 4 operations).

Guidelines for Answer Generation:
1. Numerical Answer:
   - Generate only the number without any symbols like "$", words like "million", or commas ",".
   - For example, if the context says "$1,253.9 million", you should output "1253.9".
2. Yes/No Questions:
   - If the question requires a Yes/No answer, provide only 'yes' or 'no'.
3. Explanation:
   - Do not provide any explanation unless specifically asked in the question.

Important Notes:
- Pay special attention to numbers in the Structured Tabular Data. Distinguish between decimal points "." and commas ",". For example, interpret '7,832' as 7832, not 7.832.
- Always verify whether numbers have decimal points or commas to ensure accuracy in answers.

Context: {context}
Question: {question}

Answer:
"""

response_3 = openai.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "user", "content": CONTENT},
    ],
    temperature=0.6, 
)

print(response_3.choices[0].message.content)

note 6 2014mergers and acquisitions eldertrust merger on february 5 2004 the company consummated a merger transaction in an all cash transaction valued at 184 million the 201celdertrust transaction 201d the eldertrust transaction adds nine assisted living facilities one independent living facility five skilled nursing facilities two med ical office buildings and a financial office building the 201celdertrust properties 201d to the company 2019s portfolio the eldertrust properties are leased by the company to various operators under leases providing for aggregated annual cash base rent of approxi mately 16 2 million subject to escalation as provided in the leases the leases have remaining terms primarily ranging from four to 11 years at the closing of the eldertrust transaction the company also acquired all of the limited partnership units in eldertrust operating limited partnership 201cetop 201d directly from their owners at 12 50 per unit excluding 31455 class c units in etop which will remain outstanding etop owns directly or indirectly all of the eldertrust properties the company funded the 101 million equity portion of the purchase price with cash on eldertrust 2019s balance sheet a portion of the 85 million in proceeds from its december 2003 sale of ten facilities to kindred and draws on the company 2019s revolving credit facility the 201crevolving credit facility 201d under its second amended and restated security and guaranty agreement dated as of april 17 2002 the 201c2002 credit agreement 201d the company 2019s ownership of the eldertrust properties is subject to approximately 83 million of property level debt and other liabilities at the close of the eldertrust transaction eldertrust had approximately 33 5 million in unrestricted and restricted cash on hand the acquisition was accounted for under the purchase method the following table summarizes the preliminary estimated fair values of the assets acquired and liabilities assumed at the date of acquisition such estimates are subject to refinement as additional valuation information is received operations from this merger will be reflected in the company 2019s consolidated financial state ments for periods subsequent to the acquisition date of february 5 2004 the company is in the process of computing fair values thus the allocation of the purchase price is subject to refinement[['', '( in millions )'], ['real estate investments', '$ 162'], ['cash and cash equivalents', '28'], ['other assets', '5'], ['total assets acquired', '$ 195'], ['notes payable and other debt', '83'], ['accounts payable and other accrued liabilities', '2'], ['total liabilities assumed', '85'], ['net assets acquired', '$ 110']]transaction with brookdale on january 29 2004 the company entered into 14 definitive purchase agreements each a 201cbrookdale purchase agreement 201d with certain affiliates of brookdale living communities inc 201cbrookdale 201d to purchase each such purchase a 201cbrookdale acquisition 201d a total of 14 independent living or assisted living facilities each a 201cbrookdale facility 201d for an aggregate purchase price of 115 million affiliates of brookdale have agreed to lease and operate the brookdale facilities pursuant to one or more triple net leases all of the brookdale leases which have an initial term of 15 years will be guaranteed by brookdale and provide for aggregated annual base rent of approximately 10 million escalating each year by the greater of i 1 5 1 5 or ii 75 75 of the consumer price index the company expects to fund the brookdale acquisitions by assuming an aggregate of approximately 41 million of non recourse property level debt on certain of the brookdale facilities with the balance to be paid from cash on hand and or draws on the revolving credit facility the property level debt encumbers seven of the brookdale facilities on january 29 2004 the company completed the acquisitions of four brookdale facilities for an aggregate purchase price of 37 million the company 2019s acquisition of the remaining ten brookdale facilities is expected to be completed shortly subject to customary closing conditions however the consummation of each such brookdale acquisition is not conditioned upon the consummation of any other such brookdale acquisition and there can be no assurance which if any of such remaining brookdale acquisitions will be consummated or when they will be consummated transactions with trans healthcare inc on november 4 2002 the company through its wholly owned subsidiary ventas realty completed a 120 0 million transaction the 201cthi transaction 201d with trans healthcare inc a privately owned long term care and hospital company 201cthi 201d the thi transaction was structured as a 53 0 million sale leaseback trans action the 201cthi sale leaseback 201d and a 67 0 million loan the 201cthi loan 201d comprised of a first mortgage loan the 201cthi senior loan 201d and a mezzanine loan the 201cthi mezzanine loan 201d following a sale of the thi senior loan in december 2002 see below the company 2019s investment in thi was 70 0 million as part of the thi sale leasebackventas realty purchased 5 properties and is leasing them back to thi under a 201ctriple net 201d master lease the 201cthi master lease 201d the properties subject to the sale leaseback are four skilled nursing facilities and one con tinuing care retirement community the thi master lease which has an initial term of ten years provides for annual base rent of 5 9 million the thi master lease provides that if thi meets specified revenue parameters annual base rent will escalate each year by the greater of i three percent or ii 50 50 of the consumer price index ventas inc page 37 annual report 2003
what as the leverage of the debt to assets of elder trust at the time of the to the purchase
0.436
42.56

**Out of OpenAI , Google PaLM and Google Gemini Pro Model, the best Question-Answer Responses are shown by OpenAI Model.**

In [30]:
import pandas as pd
from sklearn.metrics import accuracy_score

df_train = pd.read_csv("/home/peterchen/Model/Data_Science_Projects/FINQA Project - A Dataset of Numerical Reasoning over Financial Data/df_train_output.csv")
df_dev = pd.read_csv("/home/peterchen/Model/Data_Science_Projects/FINQA Project - A Dataset of Numerical Reasoning over Financial Data/df_dev_output.csv")
df_test = pd.read_csv("/home/peterchen/Model/Data_Science_Projects/FINQA Project - A Dataset of Numerical Reasoning over Financial Data/df_test_output.csv")
df = pd.concat([df_train, df_test, df_dev], axis=0)
df.shape

(8281, 18)

In [7]:
# 设置显示选项
# pd.set_option('display.max_rows', None)         # 显示所有行
# pd.set_option('display.max_columns', None)      # 显示所有列
# pd.set_option('display.max_colwidth', None)     # 不限制列宽
# pd.set_option('display.width', None)            # 自动调整宽度以适应内容
# pd.set_option('display.expand_frame_repr', False)  # 禁止折叠长列

pattern = r'\b(yes|no)\b'  # 匹配包含 'yes' 或 'no' 的字符串
# 标记包含 'yes' 或 'no' 的行
df['matches_pattern'] = df['Answer'].str.contains(pattern, case=False, regex=True)
# 筛选出包含 'yes' 或 'no' 的行
df[df['matches_pattern']][['Question', 'Answer', 'Generated Answer']]

NameError: name 'df' is not defined

In [40]:
df[['Question', 'Answer', 'Generated Answer']]

,Question,Answer,Generated Answer
0,what is the the interest expense in 2009?,380,3.8 million
1,"during the 2012 year , did the equity awards i...",0,3.3 million
2,what was the total operating expenses in 2018 ...,41932,"$41,905"
3,what percentage of total cash and investments ...,53%,53.69%
4,what is the growth rate in net revenue in 2008?,-3.2%,-3.23%
...,...,...,...
878,what portion of total future obligations is re...,45.6%,45.55%
879,what percentage of total future minimum lease ...,21%,21.47%
880,what was the percentage increase of total defe...,204%,204.29%
881,what would the amount accrued because of inter...,$ 2.33 million,$2.42 million
882,what percentage of total debt is due after 2012?,61%,61.5%

In [39]:
df[df['Answer'].str.contains("yes")]

,Pre_Text,Post_Text,table,qa,Company Name,Year of Publication,Page_Number,Operations,Number of Operations,Number of Facts,Text or Table,Number of Model Inputs,Number of Top-N Facts,Question,Explanations,Answer,Financial Context,Generated Answer,matches_pattern
47,jpmorgan chase co 2018 form 10 k 41 five year ...,december 31 in dollars,"[['december 31 ( in dollars )', '2013', '2014'...",{'question': 'did jpmorgan chase outperform th...,JPM,2018,73,greater,1,2,"table,table",3,1,did jpmorgan chase outperform the kbw bank index?,0,yes,jpmorgan chase co 2018 form 10 k 41 five year ...,"Yes, JPMorgan Chase outperformed the KBW Bank ...",False
86,page 92 of 98 other information required by it...,item 13 certain relationships and related tran...,"[['plan category', 'equity compensation plan i...","{'question': 'in the equity plans for 2006 , a...",BLL,2006,108,greater,1,1,table,3,2,"in the equity plans for 2006 , are there more ...",0,yes,page 92 of 98 other information required by it...,"Yes, there are more shares issued than remaini...",False
162,the goldman sachs group inc and subsidiaries m...,our average daily var decreased to 54 million ...,"[['$ in millions', 'year ended december 2017',...","{'question': 'in millions for 2016 , was the a...",GS,2017,104,greater,1,2,"table,table",3,1,"in millions for 2016 , was the average daily v...",0,yes,the goldman sachs group inc and subsidiaries m...,$20 million,False
273,apple inc 2018 form 10 k 20 company stock perf...,NaN,"[['', 'september2013', 'september2014', 'septe...",{'question': 'did apple outperform ( earn a gr...,AAPL,2018,23,greater,1,2,"table,table",3,1,did apple outperform ( earn a greater return )...,0,yes,apple inc 2018 form 10 k 20 company stock perf...,Apple outperformed the S&P Information Technol...,False
279,management 2019s discussion and analysis of fi...,segment results 20142009 compared to 2008 in 2...,"[['( dollars in millions )', 'years ended dece...",{'question': 'did consolidated net sales grow ...,MSI,2009,69,"multiply, multiply, subtract, divide",4,2,"table,text",3,1,did consolidated net sales grow from 2007 to 2...,in order to find out the consolidated net sale...,"yes , 38.2%",management 2019s discussion and analysis of fi...,-9%,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,b as of december 31 2014 the total amount auth...,equity compensation plan information informati...,"[['', 'december 312009', 'december 312010', 'd...","{'question': 'after 4 years , did the series c...",DISCA,2014,64,greater,1,2,"table,table",3,1,"after 4 years , did the series c outperform th...",0,yes,b as of december 31 2014 the total amount auth...,Series C did outperform the S&P 500 after 4 ye...,False
968,nearly all of the remaining increase in fuel e...,a effective january 1 2010 a new accounting st...,"[['millions', '2011', '2010', '2009'], ['cash ...","{'question': 'in 2012 , are the planned capita...",UNP,2011,24,greater,1,2,"text,text",3,1,"in 2012 , are the planned capital expenditures...",0,yes,nearly all of the remaining increase in fuel e...,$3.6 billion,False
247,are allocated using appropriate statistical ba...,13 financial instruments strategy and risk 201...,"[['millions', 'dec . 31 2011', 'dec . 31 2010'...","{'question': 'in 2011 , did the company distri...",UNP,2011,76,greater,1,2,"table,table",3,1,"in 2011 , did the company distribute more to s...","dividends to shareholders , interest to bondho...",yes,are allocated using appropriate statistical ba...,$284 million to shareholders vs $90 million to...,False
551,page 15 of 100 shareholder return performance ...,NaN,"[['', '12/31/05', '12/31/06', '12/31/07', '12/...",{'question': 'did the five year total return o...,BLL,2010,28,greater,1,2,"table,table",3,1,did the five year total return on ball corpora...,0,yes,page 15 of 100 shareholder return performance ...,"Yes, the five year total return on Ball Corpor...",False
684,entergy texas inc and subsidiaries management ...,the reserve equalization variance is primarily...,"[['', 'amount ( in millions )'], ['2015 net re...",{'question': 'was the change in net revenue fr...,ETR,2016,418,greater,1,2,"table,table",3,1,was the change in net revenue from changes in ...,0,yes,entergy texas inc and subsidiaries management ...,1.6,False

In [35]:
# 去除没用的字符, 把数字和百分比转换为小数
def clean_and_convert(value):
    value = value.replace("$", "").replace(",", "")
    if 'million' in value:
        value = value.replace("million", "").strip()
        return float(value) * 1e6
    if "%" in value:
        value = value.replace("%", "").strip()
        return float(value) / 100
    # 转成浮点数
    return pd.to_numeric(value, errors='coerce')

# df[['Answer', 'Generated Answer']] = df[['Answer', 'Generated Answer']].applymap(clean_and_convert)
df["Answer"] = df["Answer"].apply(clean_and_convert)
df

ValueError: could not convert string to float: 'yes  38.2'

In [23]:
# 定义误差验证函数, 0.1%
def is_within_tolerance(expected, generated, tolerance_per = 0.1):
    if expected == 0:
        return generated == 0
    tolerance = tolerance_per / 100 * abs(expected)
    return abs(expected - generated) <= tolerance

# 验证误差验证函数
df['is_correct'] = df.apply(lambda row: is_within_tolerance(row['Answer'], row['Generated Answer']), axis=1)

df

,Pre_Text,Post_Text,table,qa,Company Name,Year of Publication,Page_Number,Operations,Number of Operations,Number of Facts,Text or Table,Number of Model Inputs,Number of Top-N Facts,Question,Explanations,Answer,Financial Context,Generated Answer,is_correct
0,interest rate to a variable interest rate base...,fair value of forward exchange contracts after...,"[['', 'october 31 2009', 'november 1 2008'], [...",{'question': 'what is the the interest expense...,ADI,2009,49,"divide, divide",2,1,text,3,2,what is the the interest expense in 2009?,0,380.00,interest rate to a variable interest rate base...,3.80,False
1,abiomed inc and subsidiaries notes to consolid...,the remaining unrecognized compensation expens...,"[['', 'number of shares ( in thousands )', 'we...","{'question': 'during the 2012 year , did the e...",ABMD,2012,75,"multiply, multiply, multiply, greater",4,2,"table,text",3,1,"during the 2012 year , did the equity awards i...",0,0.00,abiomed inc and subsidiaries notes to consolid...,3.30,False
2,the following table shows annual aircraft fuel...,as of december 31 2018 we did not have any fue...,"[['year', 'gallons', 'average priceper gallon'...",{'question': 'what was the total operating exp...,AAL,2018,13,divide,1,1,table,3,2,what was the total operating expenses in 2018 ...,the total operating expenses is obtained by di...,41932.00,the following table shows annual aircraft fuel...,NaN,False
3,the fair value of our grants receivable is det...,in the third quarter of 2013 we sold our share...,"[['( in millions )', 'dec 282013', 'dec 292012...",{'question': 'what percentage of total cash an...,INTC,2013,71,divide,1,2,"table,table",3,1,what percentage of total cash and investments ...,0,NaN,the fair value of our grants receivable is det...,NaN,False
4,entergy louisiana llc management s financial d...,the retail electric price variance is primaril...,"[['', 'amount ( in millions )'], ['2007 net re...",{'question': 'what is the growth rate in net r...,ETR,2008,313,"subtract, divide",2,2,"table,table",3,1,what is the growth rate in net revenue in 2008?,0,NaN,entergy louisiana llc management s financial d...,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,contractual obligations and commercial commitm...,we have no long term debt capital leases or ma...,"[['contractual obligations', 'payments due by ...",{'question': 'what portion of total future obl...,ABMD,2007,52,divide,1,2,"table,table",3,1,what portion of total future obligations is re...,0,NaN,contractual obligations and commercial commitm...,NaN,False
879,abiomed inc and subsidiaries notes to consolid...,from time to time the company is involved in l...,"[['fiscal year ending march 31,', 'operating l...",{'question': 'what percentage of total future ...,ABMD,2006,75,divide,1,2,"table,table",3,1,what percentage of total future minimum lease ...,0,NaN,abiomed inc and subsidiaries notes to consolid...,NaN,False
880,contingent consideration of up to 13 8 million...,the fair values of these investments are based...,"[['', '2011', '2010'], ['money market funds', ...",{'question': 'what was the percentage increase...,ADI,2011,81,"subtract, divide",2,2,"table,text",3,1,what was the percentage increase of total defe...,to find the percentage increase one must subtr...,NaN,contingent consideration of up to 13 8 million...,NaN,False
881,we hold an interest rate swap agreement to hed...,fair value of forward exchange contracts after...,"[['', 'october 29 2011', 'october 30 2010'], [...",{'question': 'what would the amount accrued be...,ADI,2011,50,multiply,1,1,text,3,2,what would the amount accrued because of inter...,to find the amount of money that would come fr...,2.33,we hold an interest rate swap agreement to hed...,2.42,False
882,debt maturities 2013 the following table prese...,at december 31 2007 we reclassified as long te...,"[['2008', '$ 689'], ['2009', '542'], ['2010', ...",{'question': 'what percentage of total debt is...,UNP,2007,65,divide,1,2,"table,table",3,1,what percentage of total debt is due after 2012?,0,NaN,debt maturities 2013 the following table prese...,NaN,False

# 验证 gpt 生成答案的正确率

In [72]:
import pandas as pd

df = pd.read_csv("/home/peterchen/Model/Data_Science_Projects/FINQA Project - A Dataset of Numerical Reasoning over Financial Data/result_output.csv")
df.tail()

,Pre_Text,Post_Text,table,qa,Company Name,Year of Publication,Page_Number,Operations,Number of Operations,Number of Facts,Text or Table,Number of Model Inputs,Number of Top-N Facts,Question,Explanations,Answer,Financial Context,Generated Answer
8276,contractual obligations and commercial commitm...,we have no long term debt capital leases or ma...,"[['contractual obligations', 'payments due by ...",{'question': 'what portion of total future obl...,ABMD,2007,52,divide,1,2,"table,table",3,1,what portion of total future obligations is re...,0,45.6%,contractual obligations and commercial commitm...,47.8
8277,abiomed inc and subsidiaries notes to consolid...,from time to time the company is involved in l...,"[['fiscal year ending march 31,', 'operating l...",{'question': 'what percentage of total future ...,ABMD,2006,75,divide,1,2,"table,table",3,1,what percentage of total future minimum lease ...,0,21%,abiomed inc and subsidiaries notes to consolid...,21.48
8278,contingent consideration of up to 13 8 million...,the fair values of these investments are based...,"[['', '2011', '2010'], ['money market funds', ...",{'question': 'what was the percentage increase...,ADI,2011,81,"subtract, divide",2,2,"table,text",3,1,what was the percentage increase of total defe...,to find the percentage increase one must subtr...,204%,contingent consideration of up to 13 8 million...,203.77
8279,we hold an interest rate swap agreement to hed...,fair value of forward exchange contracts after...,"[['', 'october 29 2011', 'october 30 2010'], [...",{'question': 'what would the amount accrued be...,ADI,2011,50,multiply,1,1,text,3,2,what would the amount accrued because of inter...,to find the amount of money that would come fr...,$ 2.33 million,we hold an interest rate swap agreement to hed...,1.61
8280,debt maturities 2013 the following table prese...,at december 31 2007 we reclassified as long te...,"[['2008', '$ 689'], ['2009', '542'], ['2010', ...",{'question': 'what percentage of total debt is...,UNP,2007,65,divide,1,2,"table,table",3,1,what percentage of total debt is due after 2012?,0,61%,debt maturities 2013 the following table prese...,61.4

In [73]:
print("Original rows: ", len(df))
# 找到重复行
dup_rows = df[df.duplicated()] 
# 获取重复的行号
dup_idx = df[df.duplicated()].index.tolist()
# print("Duplicated rows: ", dup_rows)
# print("Duplicated indices: ", dup_idx)
print("Duplicated numbers: ", len(dup_rows))
df_drop_dup = df.drop_duplicates()
print("After drop: ", len(df_drop_dup))

Original rows:  8281
Duplicated numbers:  21
After drop:  8260

In [ ]:
""""" "pre_text": ["the texts before the table", "..."];
"post_text": ["the text after the table", "..."];
"filename": "unique example id";
"table_ori": [
    [
        "",
        "October 31, 2009",
        "November 1, 2008"
    ],
    [
        "Fair value of forward exchange contracts asset (liability)",
        "$6,427",
        "$(23,158)"
    ], ...];
"table": Convert all characters to lowercase;

"qa": {
    "question":
    "answer": 
    "explanation":
    "ann_table_rows":
    "ann_text_rows":
    "steps": [
        {
            "op": "divide1-1",
            "arg1": "100",
            "arg2": "100",
            "res": "1%"
        }]
    "program": "divide(100, 100), divide(3.8, #0)";
    "gold_inds": the gold supporting facts;
    "exe_ans": the gold execution result;
    "tfidftopn": use tf-idf to search for the relevant texts;
    "program_re": the reasoning program in nested format;
    "model_input":
},

"id": same as filename
"table_retrieved":
"text_retrieved":
"table_retrieved_all":
"text_retrieved_all": """""

In [51]:
# 查找对应值所在的行
target_value = "why is the information relative to 2012 costs incorrect and what would the correct information be?"
df[df["Question"] == target_value].index.tolist()

[2825, 3941]

In [75]:
pd.reset_option("display.max_colwidth")
# pd.set_option("display.max_colwidth", None)
# df.iloc[[2825, 3941]]
df.head()

,Pre_Text,Post_Text,table,qa,Company Name,Year of Publication,Page_Number,Operations,Number of Operations,Number of Facts,Text or Table,Number of Model Inputs,Number of Top-N Facts,Question,Explanations,Answer,Financial Context,Generated Answer
0,interest rate to a variable interest rate base...,fair value of forward exchange contracts after...,"[['', 'october 31 2009', 'november 1 2008'], [...",{'question': 'what is the the interest expense...,ADI,2009,49,"divide, divide",2,1,text,3,2,what is the the interest expense in 2009?,0,380.0,interest rate to a variable interest rate base...,3.8
1,abiomed inc and subsidiaries notes to consolid...,the remaining unrecognized compensation expens...,"[['', 'number of shares ( in thousands )', 'we...","{'question': 'during the 2012 year , did the e...",ABMD,2012,75,"multiply, multiply, multiply, greater",4,2,"table,text",3,1,"during the 2012 year , did the equity awards i...",0,0.0,abiomed inc and subsidiaries notes to consolid...,no
2,the following table shows annual aircraft fuel...,as of december 31 2018 we did not have any fue...,"[['year', 'gallons', 'average priceper gallon'...",{'question': 'what was the total operating exp...,AAL,2018,13,divide,1,1,table,3,2,what was the total operating expenses in 2018 ...,the total operating expenses is obtained by di...,41932.0,the following table shows annual aircraft fuel...,41.89
3,the fair value of our grants receivable is det...,in the third quarter of 2013 we sold our share...,"[['( in millions )', 'dec 282013', 'dec 292012...",{'question': 'what percentage of total cash an...,INTC,2013,71,divide,1,2,"table,table",3,1,what percentage of total cash and investments ...,0,53.0,the fair value of our grants receivable is det...,53.33
4,entergy louisiana llc management s financial d...,the retail electric price variance is primaril...,"[['', 'amount ( in millions )'], ['2007 net re...",{'question': 'what is the growth rate in net r...,ETR,2008,313,"subtract, divide",2,2,"table,table",3,1,what is the growth rate in net revenue in 2008?,0,-3.2,entergy louisiana llc management s financial d...,-3.23

In [50]:
# pd.set_option("display.max_colwidth", None)
# df[["Question", "Explanations", "Answer", "Generated Answer"]].iloc[2600:2620]

[2825, 3941]

In [80]:
answer_col = "Answer"
gen_col = "Generated Answer"
df[answer_col] = df[answer_col].apply(process_answer)
df[gen_col] = df[gen_col].apply(process_answer)

In [85]:
pd.set_option("max_colwidth", None)
mask = df["Answer"].str.len() > 10
# df[mask][["Question", "Answer", "Generated Answer"]]

In [89]:

# df.iloc[500:510]
df_filtered = df[~df[answer_col].apply(lambda x: isinstance(x, str) and any(char.isalpha() for char in x.split()) and x.strip().lower() not in ['yes','no'])]
# mask = df_filtered["Answer"].str.len()>10
# df_filtered[mask][["Question", "Answer", "Generated Answer"]]
pd.reset_option("max_colwidth")
df_filtered

,Pre_Text,Post_Text,table,qa,Company Name,Year of Publication,Page_Number,Operations,Number of Operations,Number of Facts,Text or Table,Number of Model Inputs,Number of Top-N Facts,Question,Explanations,Answer,Financial Context,Generated Answer
0,interest rate to a variable interest rate base...,fair value of forward exchange contracts after...,"[['', 'october 31 2009', 'november 1 2008'], [...",{'question': 'what is the the interest expense...,ADI,2009,49,"divide, divide",2,1,text,3,2,what is the the interest expense in 2009?,0,380.0,interest rate to a variable interest rate base...,3.8
1,abiomed inc and subsidiaries notes to consolid...,the remaining unrecognized compensation expens...,"[['', 'number of shares ( in thousands )', 'we...","{'question': 'during the 2012 year , did the e...",ABMD,2012,75,"multiply, multiply, multiply, greater",4,2,"table,text",3,1,"during the 2012 year , did the equity awards i...",0,0.0,abiomed inc and subsidiaries notes to consolid...,no
2,the following table shows annual aircraft fuel...,as of december 31 2018 we did not have any fue...,"[['year', 'gallons', 'average priceper gallon'...",{'question': 'what was the total operating exp...,AAL,2018,13,divide,1,1,table,3,2,what was the total operating expenses in 2018 ...,the total operating expenses is obtained by di...,41932.0,the following table shows annual aircraft fuel...,41.89
3,the fair value of our grants receivable is det...,in the third quarter of 2013 we sold our share...,"[['( in millions )', 'dec 282013', 'dec 292012...",{'question': 'what percentage of total cash an...,INTC,2013,71,divide,1,2,"table,table",3,1,what percentage of total cash and investments ...,0,53.0,the fair value of our grants receivable is det...,53.33
4,entergy louisiana llc management s financial d...,the retail electric price variance is primaril...,"[['', 'amount ( in millions )'], ['2007 net re...",{'question': 'what is the growth rate in net r...,ETR,2008,313,"subtract, divide",2,2,"table,table",3,1,what is the growth rate in net revenue in 2008?,0,-3.2,entergy louisiana llc management s financial d...,-3.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8276,contractual obligations and commercial commitm...,we have no long term debt capital leases or ma...,"[['contractual obligations', 'payments due by ...",{'question': 'what portion of total future obl...,ABMD,2007,52,divide,1,2,"table,table",3,1,what portion of total future obligations is re...,0,45.6,contractual obligations and commercial commitm...,47.8
8277,abiomed inc and subsidiaries notes to consolid...,from time to time the company is involved in l...,"[['fiscal year ending march 31,', 'operating l...",{'question': 'what percentage of total future ...,ABMD,2006,75,divide,1,2,"table,table",3,1,what percentage of total future minimum lease ...,0,21.0,abiomed inc and subsidiaries notes to consolid...,21.48
8278,contingent consideration of up to 13 8 million...,the fair values of these investments are based...,"[['', '2011', '2010'], ['money market funds', ...",{'question': 'what was the percentage increase...,ADI,2011,81,"subtract, divide",2,2,"table,text",3,1,what was the percentage increase of total defe...,to find the percentage increase one must subtr...,204.0,contingent consideration of up to 13 8 million...,203.77
8279,we hold an interest rate swap agreement to hed...,fair value of forward exchange contracts after...,"[['', 'october 29 2011', 'october 30 2010'], [...",{'question': 'what would the amount accrued be...,ADI,2011,50,multiply,1,1,text,3,2,what would the amount accrued because of inter...,to find the amount of money that would come fr...,2.33,we hold an interest rate swap agreement to hed...,1.61
8280,debt maturities 2013 the following table prese...,at december 31 2007 we reclassified as long te...,"[['2008', '$ 689'], ['2009', '542'], ['2010', ...",{'question': 'what percentage of total debt is...,UNP,2007,65,divide,1,2,"table,table",3,1,what percentage of total debt is due after 2012?,0,61.0,debt maturities 2013 the following table prese...,61.4

In [92]:
import re
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score

# 预处理
def process_answer(answer):
    if isinstance(answer, str):
        answer = re.sub(r"[,\%\$]", "", answer)
        answer = re.sub(r"million", "", answer, flags=re.IGNORECASE)
        try:
            return float(answer)
        except ValueError:
            return answer.strip().lower()
    elif isinstance(answer, (int, float)):
        return float(answer)
    else:
        return None

# 比较两个值是否相等, 允许一定的误差
def compare_values(val1, val2, tolerance=1e-2):
    if isinstance(val1, (int, float)) and isinstance(val2, (int, float)):
        return np.isclose(val1, val2, atol=tolerance)
    return val1 == val2

# 验证生成的但的准确率
def validate_answer(df, answer_col, gen_col, tolerance=1e-2):
    # 处理答案
    df[answer_col] = df[answer_col].apply(process_answer)
    df[gen_col] = df[gen_col].apply(process_answer)
    # 过滤掉生成答案种包含句子的行
    df_filtered = df[~df[answer_col].apply(lambda x: isinstance(x, str) and any(char.isalpha() for char in x.split()) and x.strip().lower() not in ['yes','no'])]
    # 比较答案
    df_filtered['is_correct'] = df_filtered.apply(
        lambda row: compare_values(row[answer_col], row[gen_col], tolerance=tolerance), axis=1
    )
    # 计算正确率
    acc = accuracy_score(df_filtered['is_correct'], [True] * len(df_filtered))
    return acc

accuracy = validate_answer(df, 'Answer', 'Generated Answer')
print(f"Accuracy: {accuracy:.2%}")

Accuracy: 21.14%

/tmp/ipykernel_517804/4010694681.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['is_correct'] = df_filtered.apply(